@import "onboarding/mobile.css";
@import "onboarding/desktop.css";
@import "postModal/desktop.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 26px
    }
}

h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 517.816px;
    height: 28px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: 16px;
        width: 280px;
        height: 16px;
        text-align: center;
    }
}

